/****2015/7/15 start**************/
/*以下一节是玩家输入魔方阶数的样式*/
#setRank{
  position: absolute;
  z-index: 10;
  right: 50%;
  font-family: Gudea, Arial, sans-serif;
  font-size: 25px;
}
#setRank>.Iwant{
  word-spacing: 0.5em;
  color: rgb(27, 45, 45);
}
#setRank>.set{
  display: inline-block;
  width: 40px;
  cursor: pointer;
  text-align: center;
  border: none;
}
#setRank>.set>:nth-child(2n + 1){
  height: 20px;
  width: 40px;
  margin: 0 auto;
  background-image: url('../pic/allSmall.png');
  background-origin: content-box;
  background-clip: content-box;
  opacity: 0;
  transition: 0.25s opacity;
}
#setRank>.set>:first-child{
  background-position: 3px -3px;
  margin-top: 8px;
  padding-bottom: 5px;
}
#setRank>.set>:first-child:hover{
  opacity: 1;
}
#setRank>.set>:last-child{
  background-position: 3px -43px;
  padding-top: 8px;
}
#setRank>.set>:last-child:hover{
  opacity: 1;
}
#setRank>.set>:nth-child(2){
  height: 30px;
  border-bottom: 2px solid;
  transition: 0.2s border-bottom-color;
}
#setRank>.rejectText{
  color: red;
  font-family: Gudea, Arial, sans-serif;
  font-size: 13px;
  margin-left: 8px;
  opacity: 0;
}
#setRank>.enterCon{
  position: absolute;
  left: 50px;
  top: 0;
  width: 103px;
  height: 67px;
  box-sizing: border-box;
  padding: 32px 67px 2px 3px;
  background-clip: content-box;
}
#setRank>.enterCon>.enter{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 34%;
  background-color: black;
}
/*以上一节是玩家输入魔方阶数的样式*/

/*以下一节是登录/注册的样式*/
#signBox, #userBox{
  position: fixed;
  left: 0;
  top: 0;
  font-size: 0;
  border-right: 3px solid #FFF;
  border-bottom: 3px solid #FFF;
  z-index: 20;
  font-family: Gudea, Arial, sans-serif;
}
input{
  font-family: Gudea, Arial, sans-serif;
  font-size: 14px;
}
input:focus{
  outline: none;
}
#signBox>:nth-child(-n + 3), #userBox>:nth-child(-n + 3){
  font-size: 1.5rem;
  display: inline-block;
  width: 150px;
  height: 40px;
  font-family: Gudea, Arial, sans-serif;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
  vertical-align: bottom;
}
#signBox>.stick, #userBox>.stick{
  width: 2px;
  background-color: white;
  display: none;
}
#signBox>.signInLable, #userBox>.user{
  background-color: rgba(223, 239, 255, 1);
}
#signBox>.signUpLable, #userBox>.signOut{
  background-color: rgba(188, 253, 188, 1);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.22s;
}
#userBox>.user{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 6px 8px 0px;
  color: white;
  background-color: rgb(116, 151, 187);
}
#userBox>.signOut{
  color: white;
  background-color: rgb(75, 139, 208);
}
#signBox>.signInLable:hover, #signBox>.signUpLable:hover, #userBox>.user:hover, #userBox>.signOut:hover{
  cursor: pointer;
}
#signBox>.signInLable:hover{
  background-color: rgba(223, 239, 255, 0.69);
}
#signBox>.signUpLable:hover{
  background-color: rgba(188, 253, 188, 0.69);
}
#userBox>.user:hover{
  background-color: rgba(116, 151, 187, 0.69);
}
#userBox>.signOut:hover{
  background-color: rgba(75, 139, 208, 0.69);
}
#signBox>.signIn, #signBox>.signUp{
  width: 100%;
  height: 217px;
  display: none;
}
#signBox>.signIn{
  background-color: rgba(223, 239, 255, 1);
}
#signBox>.signUp{
  background-color: rgba(188, 253, 188, 1);
}
#signBox>.close{
  position: absolute;
  background: #D26363;
  height: 20px;
  width: 20px;
  top: 0px;
  right: -24px;
  opacity: 0.7;
  cursor: pointer;
  display: none;
}
#signBox>.close:hover{
  opacity: 1;
}
#signBox>.close>span{
  background-color: white;
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  top: 8px;
}
#signBox>.close>span:first-child{
  transform: rotate(45deg);
}
#signBox>.close>span:last-child{
  transform: rotate(-45deg);
}
#shade{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
}
#signInForm{
  width: 200px;
  margin: 0px auto;
  padding-top:45px;
  font-size: 1rem;
}
#signInForm>input:nth-child(-n+2){
  box-sizing: border-box;
  width: 100%;
}
#signInForm>input:first-child{
  margin-bottom: 20px;
}
#signInForm>span{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
#signInForm>span>a{
  color: blue;
  font-size: 0.9em;
  font-family: Gudea, Arial, sans-serif;
  cursor: pointer;
  height: 1.3em;
  margin-top: 3px;
}
#signInForm>span>a:hover{
  color: #0202AF;
  text-decoration: underline;
}
#signInForm>span>input[type="submit"]{
  height: 28px;
  margin-top: 9px;
  cursor: pointer;
}
#signUpForm{
  width: 200px;
  margin: 0px auto;
  padding-top: 45px;
  font-size: 1rem;
}
#signUpForm>input:nth-child(-n+3){
  width: 100%;
  box-sizing: border-box;
}
#signUpForm>input[name="email"]{
  margin: 12px 0px;
}
#signUpForm>input[type = 'submit']{
  height: 28px;
  margin-top: 9px;
  float: right;
  cursor: pointer;
}
input[type = 'submit']{
  border: none;
  background-color: rgb(255, 134, 134);
  color: white;
  border: none;
  border-radius: 2px;
  transition: background-color 0.16s;
}
input[type = 'submit']:focus{
  background-image: none;
  outline: none;
}
input[type = 'submit']:hover{
  background-color: rgb(245, 103, 103);
}
#signBox>.signIn>.warn, #signBox>.signUp>.warn{
  display: none;
  font-size: 1rem;
  background-color: yellow;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 30;
}
#signBox input[type = 'text'], #signBox input[type = 'password']{
  border: none;
  padding-left: 4px;
  line-height: 1.5em;
  border-right: 3px solid #F56767;
  border-right-width: 0px;
  transition: border-right-width 0.3s;
}
#signBox input[type = 'text']:focus, #signBox input[type = 'password']:focus{
  border-right-width: 3px;
}
.remind{
  position: absolute;
  top: 19px;
  display: none;
}
.remind>p{
  background-color: #C71717;
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 8px;
  padding: 0 4px;
  line-height: 1.5em;
  border-radius: 4px;
  color: white;
}
.remind>i{
  display: block;
  width: 0;
  height: 0;
  border-top: 11px solid #C71717;
  border-left: 4px solid rgba(0,0,0,0);
  border-right: 11px solid rgba(0,0,0,0);
  position: absolute;
  bottom: -3px;
  left: 12px;
}
#signBox form{
  position: relative;
}
#userBox{
  display: none;
  z-index: 30;
}
/*以上一节是登录/注册的样式*/



