/*2015/7/4 start*/
/*
*此文仅中只包含‘魔方’的样式
*/
body{
	margin: 0px;
}
main{
	width: 100%;
	min-width: 400px;
	min-height: 400px;
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
}
#cubeContainer{
	flex-grow: 8;
	min-width: 300px;
	min-height: 300px;
	background-color: rgb(222, 229, 218);
	position: relative;
}
#cube{
	width: 110px;
	height: 110px;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin: 50% 50%;
	transform-style: preserve-3d;
}
#cube>[surface]{
	width: 100px;
	height: 100px;
	border: 5px solid white;
	border-radius: 3px;
	position: absolute;
	transform-origin: 50% 50%;
}
#cube>[color = 'blue']{
	background-color: blue;
}
#cube>[color = 'yellow']{
	background-color: yellow;
}
#cube>[color = 'whitesmoke']{
	background-color: whitesmoke;
}
#cube>[color = 'orange']{
	background-color: orange;
}
#cube>[color = 'red']{
	background-color: red;
}
#cube>[color = 'green']{
	background-color: green;
}
#history{
	display: none;
	flex-grow: 0;
	min-width: 300px;
	background: #89a;
}
#cube>[buttonClass ^= big]{
	position: absolute;
}
#cube>[buttonClass ^= big]:hover{
	background-color: grey;
}
#cube>[buttonClass ^= small]{
	position: absolute;
}
#cube>[buttonClass ^= small]:hover{
	background-color: grey;
}
#cube>[buttonClass = 'bigTop']{
	width: 60px;
	height: 20px;
	margin: 5px 25px 85px;
	transform-origin: 30px 50px;
}
#cube>[buttonClass = 'bigBottom']{
	width: 60px;
	height: 20px;
	margin: 85px 25px 5px;
	transform-origin: 30px -30px;
}
#cube>[buttonClass = 'bigLeft']{
	width: 20px;
	height: 60px;
	margin: 25px 85px 25px 5px;
	transform-origin: 50px 30px;
}
#cube>[buttonClass = 'bigRight']{
	width: 20px;
	height: 60px;
	margin: 25px 5px 25px 85px;
	transform-origin: -30px 30px;
}
#cube>[buttonClass = 'smallTop']{
	width: 50px;
	height: 20px;
	margin: 5px 5px 85px 55px;
	left: 30px;
	transform-origin: -30px 50px;
}
#cube>[buttonClass = 'smallBottom']{
	width: 50px;
	height: 20px;
	margin: 85px 5px 5px 55px;
	left: 30px;
	transform-origin: -30px -30px;
}
#cube>[buttonClass = 'smallLeft']{
	width: 20px;
	height: 50px;
	margin: 55px 85px 5px 5px;
	top: 30px;
	transform-origin: 50px -30px;
}
#cube>[buttonClass = 'smallRight']{
	width: 20px;
	height: 50px;
	margin: 55px 5px 5px 85px;
	top: 30px;
	transform-origin: -30px -30px;
}
